.float-text-container {
	display: flex;
	flex-direction: column;
	padding: 6.3rem 9rem;
	background-color: rgb(160, 171, 190);
	text-align: center;
}
.float-header {
	font-size: 2.4rem;
	font-family: Roboto Black;
	text-shadow: 0px 2px 3px rgb(0 0 0 / 81%);
	letter-spacing: 18px;
	text-transform: uppercase;
}

.float-sm-para {
	text-shadow: 0 2px 3px rgb(0 0 0 / 81%);
	font-size: 18px;
	font-family: Roboto;
	letter-spacing: 11px;
	text-transform: uppercase;
}

@media (max-width: 960px) {
	.float-text-container {
		padding: 9px;
	}

	.float-header {
		font-size: 1.2rem;
		letter-spacing: 12px;
	}

	.float-sm-para {
		font-size: 14px;
		letter-spacing: 6px;
		font-weight: 400;
	}
}
